<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
                
        <!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="coronavirus" href="/">Coronavirus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="country" href="/country">By Country</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="donate" href="/donate">Donate</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="Donaters" data-toggle="dropdown">Donaters</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/donaters/log">Donate log</a>
                    <a class="dropdown-item" href="/donaters/leaderboard">Donaters leaderboard</a>
                </div>
            </li>
            </ul> -->
        
        </nav>
    </body>
</html>